body
 		{background: #DE87F3;
	 	background:#DE87F3;
  		background: -webkit-linear-gradient(#DE87F3 ,#ccffcc );
  		background: -moz-linear-gradient(#DE87F3 ,#ccffcc );
  		background: -o-linear-gradient(#DE87F3 ,#ccffcc);
  		background: linear-gradient(#DE87F3 ,#ccffcc );
  		font-size: 20px;
  	    opacity: 0.7;}

 h1
 {text-align: center;
 	font-size: 50px;
 	opacity: 1;
 }
 h3
 {text-align: center;
 	font-size: 35px;
 	opacity: 1;
 }
 button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
}
.html
{
  display: inline-block;
  width:48%;
  font-size: 20px;
  

}

.jss
{
  display: inline-block;
  width:48%;
   font-size: 20px;
  
  
}

